@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #eaeaea;
  width: 100%;
  height: 100vh;
}

a {
  cursor: pointer;
}
